.form-group {
    margin-left: 1em!important;
    margin-right: 1em!important;
}

.run-button {
    display: inline-block;
    width: 50%;
    height: 3em;
    margin-left: 0!important;
    /* margin-top: 1em; */
    font-size: 4em;
}

.forms-buttons {
    display: flex;
}

.prediction-col {
    font-size: larger;
    font-weight: 200;
}

.rating-jumbo {
    margin-top: 1em;
}

.button-grouping {
    width:100%!important;
    margin-top:3em!important;
    margin-bottom:0!important;
}